<main>
  <app-header [numberItems]="numberItems || 0"></app-header>
  <app-body
    [products]="products"
    (onUpdateQuantity)="handleUpdateQuantity($event)"
    (onRemoveProduct)="handleRemoveProduct($event)"
  ></app-body>
  <div class="empty-product" *ngIf="products.length === 0">
    <h3>There are no products in your cart.</h3>
    <button>Shopping now</button>
  </div>

  <section class="container" *ngIf="products.length > 0">
    <app-footer
      (onApplyPromoCode)="handleApplyPromoCode($event)"
      [subTotal]="subTotal"
      [discount]="discount"
      [tax]="tax"
    ></app-footer>
  </section>
</main>
